* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Encode Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;

}

p {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-bottom: 22px;
}

.nav {
    margin: auto;
    text-align: center;
    height: 80px;
    padding: 12px;
    background-color: #1565c0;
}

img.responsive {
  max-height: 100%;
  max-width: 100%;
} 

.search-container {
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
}

input.search {
    display: inline-block;
    border-radius: 20px;
    padding-left: 12px;
    font-size: 24px;
    font-color: #cccccc;
    height: 50px;
    width: 82%;
    border: 2px solid #cccccc;
}

.search-icon {
    display: inline-block;
    vertical-align: middle;
}

.date {
    font-size: 20px;
    margin-bottom: 6px;
}

.half-body {
    float: left;
    width: 45%;
    margin-bottom: 8px;
    margin-top:8px;
}


.body-info {
    float: left;
    width: 100%;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 12px;
}

.container-info {
    background-color: #dbdbdb;
    padding: 12px;
    border-radius: 12px;
    float: left;
    position: relative;
    margin-right: 12px;
    margin-bottom:12px;

    -webkit-box-shadow: 2px 2px 3px 0px rgba(97,97,97,1);
    -moz-box-shadow: 2px 2px 3px 0px rgba(97,97,97,1);
    box-shadow: 2px 2px 3px 0px rgba(97,97,97,1);
}

.max {
    color: #1565c0;
    font-size: 26px;
    padding: 4px;
}

.min {
    color: red;
    font-size: 26px;
    padding: 4px;
}

.black {
    color: black;
    font-size: 26px;
    padding: 4px;
}

.head-info {
    height: 100px;
}

.center-header {
    text-align: center;
}

@media screen and (min-width: 1140px) {

    .container {
        margin: auto;
        width: 80%;
    }

    .container-info {
        width: 29%;
    }

}

@media screen and (min-width: 680px) and (max-width: 1139px) { 

    .container {
        margin: auto;
        width: 90%;
    }

    .container-info {
        width: 44%;
    }
}

@media only screen and (max-width: 659px) {

    .container {
        margin: auto;
        width: 96%;
    }

    .container-info {
        width: 94%;
    }
}